:global {
  .mobile-bar {
    width: 100%;
    position: fixed;
    left: 0;
    touch-action: pan-x;
    background: #FFF;
    color: #333;

    &--top {
      top: 0;
    }

    &--bottom {
      bottom: 0;
    }

    &:not(&--locked) {
      will-change: transform;
    }

    &:not(&--dragging) {
      transition: transform 0.15s;
    }
  }
}
