<div {{in-viewport onEnter=(fn (mut this.visible) true) onExit=(fn (mut this.visible) false)}}></div>

{{#unless this.visible}}
  {{set-body-class "detector-hidden"}}
{{else}}
  {{set-body-class "detector-visible"}}
{{/unless}}