<div {{in-viewport onEnter=(fn (mut this.visible) true) onExit=(fn (mut this.visible) false)}}></div>

{{#if this.visible}}
  {{set-body-class "detector-visible"}}
{{else}}
  {{set-body-class "detector-hidden"}}
{{/if}}