.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;

  img {
    width: 3.125rem;
  }
}

.navigation {
  padding: 0.5rem;

  h3 {
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 0;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
    margin: 0 0 2rem;
  }

  a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    font-size: 0.9em;
    font-weight: 500;
    border-radius: 0.25rem;

    &:focus, &:active, &:hover {
      background: #DDD;
    }

    &:global(.active) {
      color: #FFF;
      background: #e04e39;
    }
  }
}

