.post-card {
  & > a {
    display: flex;
    align-items: flex-end;
    min-height: 20rem;
    padding: 1.5rem;
    overflow: hidden;
    border-radius: 1rem;

    text-decoration: none!important;

    background-color: #FFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);

    transition: all 0.15s;
  }
}

.content {

}

.tag {
  text-transform: uppercase;
  color: #FFF;
  opacity: 0.8;
  font-size: 0.8em;
  font-weight: 500;
}

.title {
  color: #FFF;
  margin: 0;
  line-height: 1.2;
}
