{{#if (route-is "index")}}
  <h1 class="page-title">{{this.blog.title}}</h1>
  {{#if this.blog.description}}
    <Description @content={{this.blog.description}}/>
  {{/if}}
{{/if}}

<div class="post-feed">
  {{#each (sort-by 'date:desc' this.model) as |post index|}}
    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
    <PostCard @post={{post}} @index={{index}} class="post-card"/>
  {{/each}}
</div>
