{{#if (route-is "index")}}
  {{#if this.blog.description}}
    <p>{{this.blog.description}}</p>
  {{/if}}
{{/if}}

<div class="post-feed">
  {{#each (sort-by 'date:desc' this.model) as |post index|}}
    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
    <PostCard @post={{post}} @index={{index}} class="post-card"/>
  {{/each}}
</div>
